<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Bookentry</servlet-name>
        <servlet-class>p.Bookentry</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Leclogin</servlet-name>
        <servlet-class>p.Leclogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>p.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Issue</servlet-name>
        <servlet-class>p.Issue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Return</servlet-name>
        <servlet-class>p.Return</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Computation</servlet-name>
        <servlet-class>p.Computation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reissue</servlet-name>
        <servlet-class>p.Reissue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Nofine</servlet-name>
        <servlet-class>p.Nofine</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testbook</servlet-name>
        <servlet-class>p.testbook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Calfine</servlet-name>
        <servlet-class>p.Calfine</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Calattendance</servlet-name>
        <servlet-class>p.Calattendance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test1</servlet-name>
        <servlet-class>p.test1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rcomputation</servlet-name>
        <servlet-class>p.Rcomputation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Lissue</servlet-name>
        <servlet-class>p.Lissue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Lreturn</servlet-name>
        <servlet-class>p.Lreturn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cafine</servlet-name>
        <servlet-class>p.Cafine</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Returnall</servlet-name>
        <servlet-class>p.Returnall</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Removebook</servlet-name>
        <servlet-class>p.Removebook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Transport</servlet-name>
        <servlet-class>p.Transport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Bal</servlet-name>
        <servlet-class>p.Bal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Etf</servlet-name>
        <servlet-class>p.Etf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sender</servlet-name>
        <servlet-class>p.sender</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Leaveapp</servlet-name>
        <servlet-class>p.Leaveapp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stransfer</servlet-name>
        <servlet-class>p.stransfer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sessionl</servlet-name>
        <servlet-class>p.Sessionl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Appentry</servlet-name>
        <servlet-class>p.Appentry</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Appupdate</servlet-name>
        <servlet-class>p.Appupdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Notify</servlet-name>
        <servlet-class>p.Notify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Bookbank</servlet-name>
        <servlet-class>p.Bookbank</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delnotice</servlet-name>
        <servlet-class>p.Delnotice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Changepassword</servlet-name>
        <servlet-class>p.Changepassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Lentry</servlet-name>
        <servlet-class>p.Lentry</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contact</servlet-name>
        <servlet-class>p.contact</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Bookentry</servlet-name>
        <url-pattern>/Bookentry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Leclogin</servlet-name>
        <url-pattern>/Leclogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Issue</servlet-name>
        <url-pattern>/Issue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Return</servlet-name>
        <url-pattern>/Return</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Computation</servlet-name>
        <url-pattern>/Computation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reissue</servlet-name>
        <url-pattern>/Reissue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Nofine</servlet-name>
        <url-pattern>/Nofine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testbook</servlet-name>
        <url-pattern>/testbook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Calfine</servlet-name>
        <url-pattern>/Calfine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Calattendance</servlet-name>
        <url-pattern>/Calattendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test1</servlet-name>
        <url-pattern>/test1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rcomputation</servlet-name>
        <url-pattern>/Rcomputation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Lissue</servlet-name>
        <url-pattern>/Lissue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Lreturn</servlet-name>
        <url-pattern>/Lreturn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cafine</servlet-name>
        <url-pattern>/Cafine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Returnall</servlet-name>
        <url-pattern>/Returnall</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Removebook</servlet-name>
        <url-pattern>/Removebook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Transport</servlet-name>
        <url-pattern>/Transport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Bal</servlet-name>
        <url-pattern>/Bal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Etf</servlet-name>
        <url-pattern>/Etf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sender</servlet-name>
        <url-pattern>/sender</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Leaveapp</servlet-name>
        <url-pattern>/Leaveapp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stransfer</servlet-name>
        <url-pattern>/stransfer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sessionl</servlet-name>
        <url-pattern>/Sessionl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Appentry</servlet-name>
        <url-pattern>/Appentry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Appupdate</servlet-name>
        <url-pattern>/Appupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Notify</servlet-name>
        <url-pattern>/Notify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Bookbank</servlet-name>
        <url-pattern>/Bookbank</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delnotice</servlet-name>
        <url-pattern>/Delnotice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Changepassword</servlet-name>
        <url-pattern>/Changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Lentry</servlet-name>
        <url-pattern>/Lentry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contact</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            5
        </session-timeout>
    </session-config>
</web-app>
